body
{
	/*font: normal .8em/1.5em Arial, Helvetica, sans-serif;*/
	padding: 3px 3px 0px 3px;
	background: #ebebeb;
	width: 1000px;
	margin: 2px auto;
	color: #666;
}
a {
	color: #333;
}
#nav {
	border-top: 1px solid #96d1f8;
	background: #401463;
	background: -webkit-gradient(linear, left top, left bottom, from(#401463), to(#602590));
	background: -webkit-linear-gradient(top, #401463, #602590);
	background: -moz-linear-gradient(top, #401463, #602590);
	background: -ms-linear-gradient(top, #401463, #602590);
	background: -o-linear-gradient(top, #401463, #602590);
	padding: 3px 3px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: white;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
}
#nav li {
	margin: 0 5px;
	padding: 0 0 5px;
	float: left;
	position: relative;
	list-style: none;
    transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
    -otransition-duration:0.4s;
}
/* main level link e7e5e5*/
#nav a
{
	font-weight: bold;
	color: white;
	text-decoration: none;
	display: block;
	padding: 8px 9px;
	margin: 0;
	border-radius: 1.6em;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
    transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
    -otransition-duration:0.4s;
}

#nav cite
{
	color:Gray;
	border-bottom:dashed 1px;
	display:block;
	height:1px;	
	padding-top:3px;
	margin-bottom:3px;
}
/* main level link hover */
 #nav li:hover > a {
	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
	
	color: #444;
	
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8); 
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: blue;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	
}
#nav ul a:hover {
	background: #0399d4 !important; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */

	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	 text-shadow: 0 1px 1px rgba(0, 0, 0, .1); 
}
/* level 2 list */
#nav ul {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	padding: 0;
	min-width: 170px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	 border-radius: 10px; 
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3); 

    transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
    -otransition-duration:0.4s;
}
/* dropdown */
#nav li:hover > ul {
	display: block;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
    white-space:nowrap;
}
#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}

/* level 3+ list */
#nav ul ul {
	left: 100%;
	top: -3px;
}
/* rounded corners for first and last child */
#nav ul li:first-child > a {
	
}
#nav ul li:last-child > a {
	
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
	text-align:left;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}

span[disabled]
{
	color:Gray !important;
}
 