<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="18.1.1" targetFramework="net45" />
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net45" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.1000.523" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net45" />
</packages>