<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
 
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IMIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="IMISConnectionString" connectionString="Data Source=[DatabaseIPAdress];Initial Catalog=IMIS;User ID=[ImisUserId];Password=[ImisUserPassword]" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
      
      <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />

      </httpHandlers>
      
      <customErrors mode="RemoteOnly" defaultRedirect="Error.htm" />

    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.DataVisualization, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Design, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebDesign, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WinForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />

      </assemblies>
        <buildProviders>
          <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />

        </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2048000" />
      <globalization culture="en-GB" uiCulture="en-GB" />
    

  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

    <system.webServer>
     
    
      <handlers>
        <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />

      </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483648" />
            </requestFiltering>
        </security>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>

    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
        <add key="SubmittedFolder" value="Images\Submitted\"/>
        <add key="UpdatedFolder" value="Images\Updated\"/>
        <add key="InsureeImageDelimiter" value="_"/>
        <add key="DefaultLimitation" value="C"/>
        <add key="DefaultPriceOrigin" value="P"/>
        <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
        <add key="DefaultClaimRows" value="5"/>
        <add key="Host" value="Enter your domain or IP Address"/>
        <add key="SMSGateway" value="Enter SMS Gateway URL"/>
        <add key="SMSGatewayUserName" value="User Name"/>
        <add key="SMSGatewayPassword" value="Password"/>
        <add key="ExportFolder" value="Extracts\Export\"/>
        <add key="ExportLogFolder" value="Extracts\Export\Log\"/>
        <add key="FromPhone_Renewal" value="\FromPhone\Renewal\"/>
        <add key="FromPhone_Renewal_Rejected" value="\FromPhone\Renewal\Rejected\"/>
        <add key="FromPhone_Claim" value="\FromPhone\Claim\"/>
        <add key="FromPhone_Claim_Rejected" value="\FromPhone\Claim\Rejected\"/>
        <add key="FromPhone_Feedback" value="\FromPhone\Feedback\"/>
        <add key="FromPhone_Feedback_Rejected" value="\FromPhone\Feedback\Rejected\"/>
    </appSettings>

    <applicationSettings>
        <IMIS.My.MySettings>
            <setting name="IMIS_IMISService_Service1" serializeAs="String">
                <value>http://localhost:53277/IMISServices.asmx</value>
            </setting>
        </IMIS.My.MySettings>
    </applicationSettings>

       
  <runtime>

       
            <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

       
                      <dependentAssembly>

       
                                <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />

       
                                <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />

       
                      </dependentAssembly>

       
                      <dependentAssembly>

       
                                <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />

       
                                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

       
                      </dependentAssembly>

       
            </assemblyBinding>

       
  </runtime>
 
</configuration>