<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IMIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="IMISConnectionString"
         connectionString="Data Source=[DatabaseIPAdress];Initial Catalog=IMIS;User ID=[ImisUserId];Password=[ImisUserPassword]"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <location path="." inheritInChildApplications="false">
    <system.web>

      <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />

      </httpHandlers>

      <customErrors mode="RemoteOnly" defaultRedirect="Error.htm" />

      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
        <assemblies>
          <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="Microsoft.Build.Framework, Version=14.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
          <add assembly="Microsoft.ReportViewer.DataVisualization, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
          <add assembly="Microsoft.ReportViewer.Design, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
          <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
          <add assembly="Microsoft.ReportViewer.WebDesign, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
          <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
          <add assembly="Microsoft.ReportViewer.WinForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />

        </assemblies>
        <buildProviders>
          <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />

        </buildProviders>
      </compilation>
      <httpRuntime targetFramework="4.5" maxRequestLength="2048000" />
      <globalization culture="en-GB" uiCulture="en-GB" />


      <pages>
        <controls>
          <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        </controls>
      </pages>
    </system.web>
  </location>
  <system.webServer>


    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />

    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="SubmittedFolder" value="Images\Submitted\"/>
    <add key="UpdatedFolder" value="Images\Updated\"/>
    <add key="InsureeImageDelimiter" value="_"/>
    <add key="DefaultLimitation" value="C"/>
    <add key="DefaultPriceOrigin" value="P"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    <add key="DefaultClaimRows" value="5"/>
    <add key="Host" value="Enter your domain or IP Address"/>
    <add key="SMSGateway" value="Enter SMS Gateway URL"/>
    <add key="SMSGatewayUserName" value="User Name"/>
    <add key="SMSGatewayPassword" value="Password"/>
    <add key="ExportFolder" value="Extracts\Export\"/>
    <add key="ExportLogFolder" value="Extracts\Export\Log\"/>
    <add key="FromPhone_Renewal" value="\FromPhone\Renewal\"/>
    <add key="FromPhone_Renewal_Rejected" value="\FromPhone\Renewal\Rejected\"/>
    <add key="FromPhone_Claim" value="\FromPhone\Claim\"/>
    <add key="FromPhone_Claim_Rejected" value="\FromPhone\Claim\Rejected\"/>
    <add key="FromPhone_Feedback" value="\FromPhone\Feedback\"/>
    <add key="FromPhone_Feedback_Rejected" value="\FromPhone\Feedback\Rejected\"/>
    <add key="Password:MinLength" value="8"/>
    <add key="Password:LowerCaseLetter" value="1"/>
    <add key="Password:UpperCaseLetter" value="1"/>
    <add key="Password:Number" value="1"/>
    <add key="Password:SpecialSymbol" value="1"/>
    <add key="CommandTimeout" value="15"/>
    <add key="ClaimCodePrefix" value="@"/>
  </appSettings>

  <applicationSettings>
    <IMIS.My.MySettings>
      <setting name="IMIS_IMISService_Service1" serializeAs="String">
        <value>http://localhost:53277/IMISServices.asmx</value>
      </setting>
    </IMIS.My.MySettings>
  </applicationSettings>

</configuration>