<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="IMISConnectionString"
         connectionString="Data Source=localhost;Initial Catalog=openIMIS;User ID=sa;Password=openimis1.4"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  
  <appSettings>
    <add key="Offline:SQLite:Password" value="%^Klp)*3" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="Offline:Encryption:Password" value=":-+A7V@=" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="Offline:RAR:Password" value=")(#$1HsD" xdt:Transform="Insert" xdt:Locator="Match(key)"/>	
    <add key="ClaimDocumentURL" value="https://claimdoc.hib.gov.np/claim/check.php?code=" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="NoticeURL" value="https://claimdoc.hib.gov.np/notice/get.php" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="ClaimDocumentHome" value="https://claimdoc.hib.gov.np/" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="ClaimDocumentToken" value="4DDF098A-4466-4D7B-81FD-AEFA96EC71C9" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="AllowMultiplePolicy" value="0" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="AllowMultipleLogin" value="0" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="LastNameFirst" value="1" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
  </appSettings>
  
</configuration>